#This notebook is for Segmenting and Clustering Neighborhoods in Toronto Assignment

In [4]:
#Import Pandas and Numpy
import pandas as pd
import numpy as np

Use pandas 'read_html' to read table from URL

In [5]:
#Read in data from HTML
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

dfs = pd.read_html(url)

The above produced a list, looking at the list showed that the information I need was at index 0

In [6]:
#I reset the dfs variable so it contains only the information I need, which is at index 0
dfs = dfs[0]

Checking that our data is right

In [7]:
dfs

,Postal Code,Borough,Neighborhood
0,M1A,Not assigned,NaN
1,M2A,Not assigned,NaN
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,NaN
176,M6Z,Not assigned,NaN
177,M7Z,Not assigned,NaN
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,NaN

I'm dropping all rows that have 'Not assigned' as a Borough

In [8]:
#Drop unwanted rows
df = dfs[~dfs['Borough'].isin(['Not assigned'])]

#check our df
df

,Postal Code,Borough,Neighborhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
5,M6A,North York,"Lawrence Manor, Lawrence Heights"
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
160,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,Business reply mail Processing Centre
169,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

Let's print how many rows we have in our dataframe.

In [11]:
#print rows in dataframe using shape
print('We have {} rows in our dataframe'.format(df.shape[0]))

We have {} rows in our dataframe

AttributeError: 'NoneType' object has no attribute 'format'