# Final Assigment - Coursera Capstone

Processing Data for Final Project

Import Libraries

In [1]:
import pandas as pd

In [14]:
# Read in Property Value Data

property_values = pd.read_csv("Property_Assessments.csv")

In [15]:
# Drop columns we won't be using

property_values.drop(columns=['ROLL_NUMBER', 'ASSESSMENT_CLASS_DESCRIPTION', 'ADDRESS',
                              'NR_ASSESSED_VALUE', 'FL_ASSESSED_VALUE','UNIQUE_KEY', 'YEAR_OF_CONSTRUCTION',
                              'COMM_CODE', 'ASSESSED_VALUE', 'location'], inplace=True)

property_values.head()

,ROLL_YEAR,ASSESSMENT_CLASS,RE_ASSESSED_VALUE,COMM_NAME,LATITUDE,LONGITUDE
0,2019,RE,695000.0,DISCOVERY RIDGE,51.020122,-114.221170
1,2019,RE,521000.0,BRIDLEWOOD,50.904238,-114.119406
2,2019,RE,326500.0,BOWNESS,51.086314,-114.196573
3,2019,RE,543000.0,COPPERFIELD,50.911999,-113.930274
4,2019,RE,375000.0,CRANSTON,50.885375,-113.972927

In [16]:
# Remove all assessments that aren't from 2019

property_values.drop(property_values.loc[property_values['ROLL_YEAR'] != 2019].index, inplace=True)

# Remove all non-residential assessments

property_values.drop(property_values.loc[property_values['ASSESSMENT_CLASS'] != 'RE'].index, inplace=True)

In [18]:
# Examine our dataset
property_values.info()

# We've got null values so lets get rid of all of those

property_values = property_values.dropna(how='any', axis=0)

# Lets see what the data looks like now

property_values.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 513370 entries, 0 to 7312966
Data columns (total 6 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ROLL_YEAR          513370 non-null  int64
 1   ASSESSMENT_CLASS   513370 non-null  object
 2   RE_ASSESSED_VALUE  512996 non-null  float64
 3   COMM_NAME          513370 non-null  object
 4   LATITUDE           505421 non-null  float64
 5   LONGITUDE          505421 non-null  float64
dtypes: float64(3), int64(1), object(2)
memory usage: 47.4+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 505047 entries, 0 to 7312966
Data columns (total 6 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ROLL_YEAR          505047 non-null  int64
 1   ASSESSMENT_CLASS   505047 non-null  object
 2   RE_ASSESSED_VALUE  505047 non-null  float64
 3   COMM_NAME          505047 non-null  object
 4   LATITUDE           505047 non-null  float64
 5   LONGITUDE          505047 non-null  float64
dtypes: float64(3), int64(1), object(2)
memory usage: 27.0+ MB

In [19]:
# Drop all rows that have NaN values
property_values = property_values.dropna()
property_values = property_values.reset_index(drop=True)

property_values.head(5)

,ROLL_YEAR,ASSESSMENT_CLASS,RE_ASSESSED_VALUE,COMM_NAME,LATITUDE,LONGITUDE
0,2019,RE,695000.0,DISCOVERY RIDGE,51.020122,-114.221170
1,2019,RE,521000.0,BRIDLEWOOD,50.904238,-114.119406
2,2019,RE,326500.0,BOWNESS,51.086314,-114.196573
3,2019,RE,543000.0,COPPERFIELD,50.911999,-113.930274
4,2019,RE,375000.0,CRANSTON,50.885375,-113.972927

In [30]:
# Drop all neighborhoods with under 103 entries
counts = property_values['COMM_NAME'].value_counts()
pvdf = property_values[~property_values['COMM_NAME'].isin(counts[counts < 103].index)]

pvdf['COMM_NAME'].value_counts()

BELTLINE          19380
PANORAMA HILLS     9089
MCKENZIE TOWNE     8525
EVERGREEN          8202
CRANSTON           7794
                  ...
ROXBORO             163
BEL-AIRE            158
MAYFAIR             157
YORKVILLE           141
EAGLE RIDGE         107
Name: COMM_NAME, Length: 199, dtype: int64

In [43]:
# Let's rename our columns to clean it up, we'll also drop ROLL_YEAR now that we don't need to sort by it

pvdf.drop(columns="ROLL_YEAR", inplace=True)

pvdf.rename(columns={'COMM_NAME': 'Neighborhood', 'RE_ASSESSED_VALUE': 'Value'}, inplace=True)

# Now we'll group by median home price

median_prices = pvdf.groupby(['Neighborhood']).median()

# Let's take a look

median_prices.head()

                                 Value   LATITUDE   LONGITUDE
Neighborhood
ABBEYDALE                     300000.0  51.058941 -113.929649
ACADIA                        405500.0  50.972799 -114.058883
ALBERT PARK/RADISSON HEIGHTS  310000.0  51.041720 -113.995064
ALTADORE                      775250.0  51.018423 -114.104126
APPLEWOOD PARK                347250.0  51.043497 -113.927941

Now we've got our dataset ready, let's export it as a csv for use in our next notebook.

In [45]:
# Export the data as a CSV

median_prices.to_csv('property_values.csv')